body{
	background-color: #d4f4ff;
	margin:0;
	padding:0;

}

.p{

	text-align: justify;
}
#btn1{



}

.menu{
	color:white;
	float:left;
	width:32.5%;
	border:thin a7b4cc solid;
	height:65px;
	font-size:200%;
	background-color:#94e4ff;
	text-align:center;
	margin:4px;

}
a{
	text-decoration: none;
}

/*------------------------------------------DIVEK-------------------------------------*/


#left{
width: 20%;
float:left;

}

#mid{

padding-left: 20%;
padding-right: 20%;

}


#right{
	width: 20%;
	float:right;


}
